name: Deploy to EC2

on:
  push:
    branches:
      - main  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      - name: Build Spring Boot JAR
        run: ./mvnw clean package -DskipTests

      - name: Build Docker image
        run: docker build -t myapp:latest .

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.AWSCICDHOST }}
          username: ${{ secrets.AWSCICDUSERNAME }}
          key: ${{ secrets.AWSCICDSECRETKEY }}
          script: |
            docker stop myapp || true
            docker rm myapp || true
            docker rmi myapp:latest || true
            docker run -d --name myapp -p 80:8081 \
              -e SPRING_DATASOURCE_URL=${{ dineshdb.cb2m6c8i2qpk.eu-north-1.rds.amazonaws.com }} \
              -e SPRING_DATASOURCE_USERNAME=${{ root }} \
              -e SPRING_DATASOURCE_PASSWORD=${{ dinesh12 }} \
              myapp:latest
